# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
venv/
ENV/
env/
*.env

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Node (if you use npm for frontend)
node_modules/

# Others
*.swp
